BUN_ENV=prod                                            # prod | dev

TOKEN=MT...........................................     # https://discord.com/developers/applications
APP_ID=1234567890123456789                              # https://discord.com/developers/applications
BOT_PERMISSIONS=275482265840                            #
BOT_USERNAME=Bot                                        #
BOT_AVATAR=https://i.imgur.com/image.png                #
WEBHOOK_AVATAR=https://i.imgur.com/image.png            #
USER_DEFAULT_AVATAR=https://i.imgur.com/879qa9l.png     #

POSTGRES_USERNAME=postgres                              #
POSTGRES_PASSWORD=p@$$w0rD                              #
POSTGRES_HOST=database                                  # docker-compose service name
POSTGRES_PORT=5432                                      # 5432 by default
POSTGRES_DATABASE=botdb                                 #
POSTGRES_CONNEXION_LIMIT=99                             #         
POSTGRES_URL="postgresql://$POSTGRES_USERNAME:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DATABASE?schema=public&connection_limit=$POSTGRES_CONNEXION_LIMIT"

REDIS_PASSWORD=P455W()Rd                                #
REDIS_HOST=redis                                        # docker-compose service name
REDIS_PORT=6379                                         # 6379 by default

MASTERKEY=???                                           # Key used to encrypt messages, it can be generated with
                                                        # generateMasterkey() from src/utils/encryption.ts